.finder-box {
  position: absolute;
  left: 32px;
  bottom: 32px;
  background: white;
  padding: 16px;  
  font-size: larger;
  border-radius: 8px;


  @media (max-width: 768px) {
    padding: 8px;  
  }

  button {
    margin-left: 16px;
  }
}
